

.nav-bg{
    background-color: rgb(126, 205, 248) !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-card {
  background: white;
  padding: 25px;
  width: 600px;
  border-radius: 8px;
  max-height: 90vh;
  overflow-y: auto;
}


@media print {
  body * {
    display: none !important;
  }
  /* Show only the selected card */
  body.print-shalwar-qameez #print-shalwar-qameez,
  body.print-shirt #print-shirt,
  body.print-trouser #print-trouser,
  body.print-vase-coat #print-vase-coat,
  body.print-sheer-vani #print-sheer-vani,
  body.print-coat #print-coat {
    display: block !important;
  }
  /* Ensure children inside the card are visible */
  body.print-shalwar-qameez #print-shalwar-qameez *,
  body.print-shirt #print-shirt *,
  body.print-trouser #print-trouser *,
  body.print-vase-coat #print-vase-coat *,
  body.print-sheer-vani #print-sheer-vani *,
  body.print-coat #print-coat * {
    display: block !important;
    visibility: visible !important;
  }
}
